.registerForm {
    padding: 50px 90px;
    border-radius: 10px;
    display: inline-block;
    box-shadow: -3px 21px 15px 4px rgba(0, 0, 0, 0.1);
    background-color: var(--form-color);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.lightInput input {
    border: none;
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 10px;
    background-color: transparent;
    color: var(--text-color);
}

.lightInput {
    margin-bottom: 7px;
    border-bottom: 2px solid var(--btn-bg-color);
}


.onRegisterSubmit {
    margin-top: 20px;
    background-color: var(--btn-bg-color);
    transition: background-color 0.5s;
}

.onRegisterSubmit:hover {
    background-color: var(--btn-bg-color);
}